# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.ShantiesSongbook.iml
# Datasource local storage ignored files
/../../../../../../../../../:\git\priv\shanties\ShantiesSongbook---Work-In-Progress\ShantiesSongbook\.idea\.idea.ShantiesSongbook\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
