@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h3 class="display-4">Hi!</h3>
    Welcome to Krzysztof Chobot song book project</br>
    Its being created due to lack of online Polish shanty songbook with option to filter chords and pick next random song</br>
    Hope you will enjoy it!
</div>
